.webkit-html-comment {
    color: rgb(35, 110, 37) !important;
}

.webkit-html-tag {
    color: rgb(136, 18, 128);
}

.webkit-html-doctype {
    color: rgb(192, 192, 192);
}

.webkit-html-attribute-name {
    color: rgb(153, 69, 0);
}

.webkit-html-attribute-value {
    color: rgb(26, 26, 166);
}

.webkit-html-external-link {
    color: #00e;
    text-decoration: none;
}

.webkit-html-external-link:hover {
    text-decoration: underline;
}

.webkit-html-resource-link {
    color: #00e;
}

.webkit-css-comment {
    color: rgb(0, 116, 0);
}

.webkit-css-url {
    color: rgb(7, 144, 154);
 }

.webkit-css-color {
    color: rgb(7, 144, 154);
 }

.webkit-css-string {
    color: rgb(7, 144, 154);
 }

.webkit-css-keyword {
    color: rgb(7, 144, 154);
 }

.webkit-css-number {
    color: rgb(50, 0, 255);
}

.webkit-css-property {
    color: rgb(200, 0, 0);
}

.webkit-css-at-rule {
    color: rgb(200, 0, 0);
}

.webkit-css-selector {
    color: black;
}

.webkit-css-bang-keyword {
    color: rgb(200, 0, 180);
}

.webkit-javascript-undef {
    color: rgb(123, 123, 123);
}

.webkit-javascript-comment {
    color: rgb(0, 116, 0);
}

.webkit-javascript-keyword {
    color: rgb(170, 13, 145);
}

.webkit-javascript-number {
    color: rgb(28, 0, 207);
}

.webkit-javascript-string {
    color: rgb(196, 26, 22);
}

.webkit-javascript-regexp {
    color: rgb(196, 26, 22);
}

.webkit-javascript-ident {
    color: black;
}